<div class="ms-3 me-3">
    <div class="row align-items-center m-0 mb-3">
        <div class="col align-middle">
            <h2 class="text-center">당신을 위한, 음악 플레이어</h2>

        </div>
        <div class="col text-end">

        </div>
    </div>

</div>


<div class="ms-3 me-3 text-center">

    <b>빈 페이지에요.</b> <br>
     <b>아래 네비게이터를 통해 이동해주세요.</b>

</div>