<div class="ms-3 me-3">
    <div class="row align-items-center m-0 mb-3">
        <div class="col align-middle">
            <h2 class="">음악 업로드</h2>

        </div>
        <div class="col text-end">

        </div>
    </div>

    <div class="row align-items-center m-0 mb-3">
        <div class="col text-start">


            <div class="mb-3">
                <label class="form-label">앨범</label>
                <select class="form-select form-control" aria-label="Default select example" id="form_music_albums">
                    <option selected>앨범 선택</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="form_music_title" class="form-label">음악 제목</label>
                <input type="text" class="form-control" placeholder="음악 제목" id="form_music_title">
            </div>


            <div class="mb-3">
                <label for="form_music_file" class="form-label">음악 업로드</label>
                <input class="form-control" type="file" id="form_music_file">
            </div>
            <button class="btn btn-blue-fill" onclick="handle.musicFunc.uploadMusic()">업로드</button>

        </div>
    </div>
</div>

