<div class="ms-3 me-3">
    <h2 class="mb-3">플레이어</h2>

    <div class="row m-0">
        <card-album image-src="/static/image/album.jpg">
            <card-album-title>dl</card-album-title>
            <card-album-text>dl</card-album-text>
        </card-album>

        <card-album image-src="/static/image/album.jpg">
            <card-album-title>추천곡</card-album-title>
            <card-album-text>테스트입니다만,..</card-album-text>
        </card-album>

        <card-album image-src="/static/image/album.jpg">
            <card-album-title>성공적인 디자인</card-album-title>
            <card-album-text>오옹 성공적이다,..</card-album-text>
        </card-album>

    </div>
</div>
