<div class="container-fluid navbar-blur fixed-bottom pt-1 pb-1" id="nav_mobile">
    <div class="row d-flex justify-content-between">
        <div class="col text-center ">
            <button onclick="render('/page/app')" class="btn"><i class="fas fa-home text-dark"></i></button>
        </div>
 
        <div class="col text-light text-center">
            <button onclick="render('/page/album')" class="btn"><i class="fas fa-layer-group text-dark"></i></button>
        </div>

        <div class="col text-light text-center">
            <button onclick="render('/page/cc')" class="btn" ><i class="fas fa-user text-dark"></i></button>
        </div>
    </div>
</div>