h1, h2, h3 {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 700 !important;
}

h4, h5, h6 {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 500 !important;
}

html, body {
    padding: 0px;
}

.toast-container {
    margin-bottom: 3.7rem;
}

.card {
    border-radius: 0.6rem;
}

.card-body {
    border-radius: 0 0 0.6rem 0.6rem ;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;

}

.card-img-top {
    border-radius: 0.6rem 0.6rem 0 0;

}

.card-img-square {

    border-radius: 0.6rem;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-border-none {
    border: none;
}

.icon-sm {
    font-size: 0.7rem;
    padding-bottom: 0.4rem;
}

.icon-xl {
    font-size: 2rem;
}

.div-hide {
    display: none;
}

.container-fluid {
    padding: 0px;
}